.short-task-card {
  display: flex;
  flex-direction: column;
  height: 200px; /* Set a fixed height for the card */
  overflow: hidden; /* Hide overflow content */

  .task-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
  }

  .mat-card-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 70%;
  }

  .task-actions {
    display: flex;
    gap: 10px;
  }

  .full-width {
    width: 100%;
  }

  .no-bottom-space {
    margin-bottom: 0;
  }

  p {
    padding: 10px;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
